/* Restart for bootstrap support */
nav {
    img {
        @media (max-width: 250px) {
            display: none;
        }

        &#logo {
            padding-left: 10px;
            margin-top: 2px;
            display: none;

            @media (min-width: 992px) {
                display: inherit;
            }
        }
    }

    form {
        @media (max-width: 767.98px) {
            max-width: 60%;
        }

        @media (max-width: 250px) {
            max-width: 80;
        }

        @media (min-width: 992px) {
            padding-left: 4px;
        }
    }

    input#reference {
        width: auto;
        background-color: rgba($color: #ffffff, $alpha: 0.3);
        font-weight: 600;
        font-variant: small-caps;
        border: none;

        &:focus {
            background-color: white;
        }

        @media (max-width: 767.98px) {
            max-width: 100%;
        }

        @media (min-width: 576px) {
            font-size: 1.5rem;
        }
    }

    .navbar-toggler {
        border: none;

        &:focus {
            border: none;
            box-shadow: none;
        }

        @media (min-width: 576px) {
            display: block !important;
            position: absolute;
            right: 16px;
        }
    }

    .navbar-collapse:not(.show) a {
        @media (min-width: 576px) {
            display: none !important;
        }
    }
}

.info.book-load {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    margin: 0 45%;

    img {
        position: relative;
        width: 50px;
        height: 50px;
    }
}

main {
    .container {
        position: relative;
    }

    .menu-container {
        z-index: 10;
        position: fixed;
        width: 100%;
        left: 0;
        height: calc(100% - 66px);

        &.collapse-menu:not(.show) {
            display: none;
        }
    }

    .menu {
        border: #e5f2e6 solid 2px;
        border-top: none;
        border-bottom-width: 7px;
        background: white;
        padding: 10px;
        max-width: 650px;
        margin: 0 auto;
        max-height: 100%;
        overflow-y: auto;

        @media (min-width: 992px) {
            min-height: 500px;
        }

        .container {
            max-width: none;
        }

        .btn-book, .btn-chapter {
            color: #212529;
            background-color: #f8f9fa;
            border-color: #ffffff;
            height: 50px;
            line-height: 33px;
            vertical-align: middle;

            .short {
                display: none;
            }

            @media (max-width: 640px) {
                .short {
                    display: inline;
                }

                .long {
                    display: none;
                }
            }

            &:hover {
                color: #212529;
                background-color: #e2e6ea;
                border-color: #dae0e5
            }

            &.focus,
            &:focus {
                box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5);
            }

            &.active,
            &:active {
                color: #212529;
                background-color: #dae0e5;
                border-color: #d3d9df
            }
        }
        
    }

    .text {
        h3 {
            color: #007b08;
            font-size: 1.2em;
            margin-top: 0.5rem;
            margin-bottom: 0;
        }

        b {
            font-weight: 600;
        }

        .mark {
            background-color: #e5f2e6;
            padding: 0.1rem;
        }

        mark {
            background-color: #e5f2e6;
            padding: 0.1rem;
        }
    }
}

/* Removes blue thing around inputs except for keyboard users*/
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) textarea:focus {
    outline: none !important;
    -webkit-appearance: none !important;
    border-color: none;
    box-shadow: none;
}

.rounded-sm {
    border-radius: 0.1rem !important;
}